# Extly is 100% Zero-Database and works out of the box with NO required environment variables!
# Optionally specify your custom domain or local development URL:

NEXT_PUBLIC_APP_URL=http://localhost:3000
